<h1> Welcome to Awesome Kombucha</h1>


<div class='row'>
  <div class='col-xs-8'>
    <p>Tulip glass Saccharification, Yeast Bottom-fermenting Yeast krug. Grainy Conditioning Tank Grainy Ale Crystal malt Balthazar. Bright beer Autolysis Centrifugation Dextrin Estery. Trappist Lagering Pilsner, Steam Beer Microbrewery Carboy! Cask Conditioned Ale Bottom-fermenting Yeast Sweet Decoction Bunghole Pub glass Anaerobic Brewhouse! </p>

    <p>Bacon ipsum dolor amet salami short ribs corned beef doner ham hock bacon. Turducken filet mignon picanha leberkas, spare ribs bresaola tenderloin pig sausage strip steak jowl ham landjaeger turkey short ribs. Leberkas cow ham hock ball tip shankle. Shank frankfurter ham, leberkas short loin swine t-bone tenderloin ground round beef filet mignon. Pork belly t-bone chicken, bresaola cupim turducken jowl strip steak kielbasa cow tail.</p>
  </div>
  
  <div class='col-xs-4'>
    <p id='home-sold'> Sold <%= @sold %> bottles </p>
    <p id='home-shipped'> Shipped <%= @shipped %> bottles </p>    
  </div>
</div>